
<head>
	<title>Учет</title>  
	<link rel='stylesheet' href='/styles/accounting.css'>
</head>


<div class='second-nav-bar'>
	<ul>
	<li><a href='/accounting/add'>Приход</a></li>
	<li><a href='#'>Расход</a></li>
	</ul>
</div>

<div class='list-table'>
	<p>учет</p>


</div>
