
<div class='main_headers'>
<h4>Добавить готовое извделие</h4>
</div>

<form action='/accounting/add' method='post'>
	
	<div>	
	<label>Наименование изделия</label>
	<select name='choice_item'>
		<%@items.each do |item|%>
			<option value ='<%=item%>'><%=item['name_item']%></option>
		<%end%>
	</select>
	</div>
	
	<div>
	<label>Дата</label>
	<input type='date' name='add_data' value=''>
	</div>
	
	<div>
	<label>Количество</label>
	<input type='text' name='kolvo' value=''>
	</div>

	<div>
	<label>Назначение</label>
	<select name='target'>
		<%@items.each do |item|%>
			<option value ='<%=item['target_item']%>'><%=item['target_item']%></option>
		<%end%>
	</select>
	</div>	
	
	<div>
	<label>Смена</label>
	<select name='item'>
	<option value='br_1' selected>Бригада 1</option>
	<option value='br_2'>Бригада 2</option>
	</select>
	</div>	
	
	<div>
	<button type='submit'>Добавить</button>
	</div>

	<div>
	<button type='reset'>Отчистить</button>	
	</div>

</form>