
<div class='main_headers'>
<h4>Добавить готовое извделие</h4>
</div>

<form action='/accounting/add' method='post'>
	
	<div>	
	<label>Наименование изделия</label>
	<select name='isdelie'>
	<option value='isdelie_1' selected>изделие 1</option>
	<option value='isdelie_2'>изделие 2</option>
	<option value='isdelie_3'>изделие 3</option>
	</select>
	</div>
	
	<div>
	<label>Дата</label>
	<input type='date' name='add_data' value=''>
	</div>
	
	<div>
	<label>Количество</label>
	<input type='number' name='kolvo' value=''>
	</div>
	
	<div>
	<label>Смена</label>
	<select name='isdelie'>
	<option value='br_1' selected>Бригада 1</option>
	<option value='br_2'>Бригада 2</option>
	</select>
	</div>	
	
	<div>
	<button type='submit'>Добавить</button>
	</div>

	<div>
	<button type='reset'>Отчистить</button>	
	</div>




</form>