
<head>
	<title>Учет</title>  
	<link rel='stylesheet' href='/styles/accounting.css'>
	<link rel='stylesheet' href='/styles/modal.css'>
</head>

<script defer src='/js/index.js'></script>


<div class='second-nav-bar'>
	<ul>	
	<li><a href='/accounting'>Приход</a></li>
	<li><a href='/expenses'>Расход</a></li>
	<li><a href='/remainder'>Остаток</a></li>
	</ul>
</div>


<div class='main_headers'>
	<p><h3>Расход</h3></p>
</div>

